body{
  margin: 0;
  padding: 0;
  font: arial;
  font-size: 14px;
  line-height: 1.5;
  background-color: #f4f4f4;
}


/* global */

h1 {
  margin:0;
  font-weight: 300;
}

.Container {
  width: 80%;
  margin: auto;
}


/* Header */

header {
    background-color: red;
    min-height: 50px;
    border-bottom: 4px solid gold;
    box-shadow: 1px 1px 5px;
    overflow: hidden;
    opacity: 1;
    filter: grayscale(0%);
}

header #Branding {
  float:left;
  font-family: cursive;
}

header h1 {
  padding-top: 5px;
  color: yellow;
  text-shadow: 5px 5px 5px black;
}

/* nav */

nav {
  float:right;
  margin-top: 5px;
}

nav ul li{
  display: inline-block;
  padding-right: 15px;
  text-shadow: 1px 1px 5px #2c2e38;
}

nav a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.indent {
  text-indent: 4em;
}

/*showcase */

#Showcase {
  height: 300px;
  --border-bottom: 3px solid gold;
  box-shadow: 0px 0px 5px;
  opacity: 1;
  filter: grayscale(0%);
}

#Showcase .banner {
  background-position: 0 -250px;
  filter: grayscale(60%);
  opacity: 0.4;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;

}

#Showcase h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 55px;
  font-family: cursive;
  color: yellow;

  text-shadow: 2px 2px 2px black;
  filter: grayscale(0%);
}

#Showcase p {
  color: white;
  text-align: center;
  margin:0;
  font-size: 25px;
  text-shadow: 2px 2px 2px black;
}

/* Footer */

footer {
  background-color: red;
  color: white;
  height: 35px;
  border-top: 4px solid gold;
  text-align: center;
  box-shadow: -2px 0 1px black;
}

footer p {
  margin:10px;
  font-size: 10px;
}

/* Media Q */

 @media(max-width: 768px) {

   header #Branding, nav {
     float:none;
     text-align: center;
   }

   .Container {
     width: 95%;
     margin: auto;
   }

   #Showcase h1 {
     font-size: 35px;
   }

   #Showcase p {
     font-size: 20px;
     overflow: hidden;
   }
 }
